---
layout: default
---

<section class="x y">
  <div class="max-w-2xl mx-auto">
    {% for post in collections.post %}
    <article class="my-8 bg-[#242526] rounded-3xl">
      <!-- Header -->
      <div class="p-4 rounded-3xl">
        <h2 class="font-bold text-3xl mb-2">
          <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}Untitled{% endif %}</a>
        </h2>
        <p class="text-base leading-6 text-gray-500 mb-3">
          <time>{{ post.date | readableDate }}</time>
        </p>
        <div class="text-lg mb-3">{{ post.templateContent }}</div>
      </div>
      <!--<p><a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg"> Read more → </a></p>-->
      <img class="w-full" src="{{ post.data.image }}" alt="" loading="lazy">
    </article>
    {% endfor %}
  </div>
</section>
