<div class="relative flex flex-col items-center justify-center">
  <!-- Logo -->
  <img loading="lazy" class="absolute top-0 h-32" src="{{ logo }}" alt="">
  <!-- Background -->
  <div class="pb-8 mt-16 bg-center bg-no-repeat bg-cover pt-28" style="background-image: url('{{ background }}');">
    <!-- Wrapper -->
    <div class="flex justify-between gap-8 mx-5 sm:mx-8">
      <!-- Left -->
      <div class="flex flex-col justify-between gap-4 sm:gap-0 w-3/5">
        <!-- Title -->
        <h1 class="text-2xl font-bold text-white-500 uppercase sm:text-4xl">{{ title }}</h1>
        <!-- Description -->
        <p class="text-base text-right sm:leading-6 sm:text-lg" style="text-align: justify;">{{ description }}</p>
        <!-- ONLY MOBILE: Image -->
        <a class="flex-none sm:hidden" rel="noopener noreferrer" target="_blank" href="{{ url-href }}">
          <img loading="lazy" class="h-full" src="{{ image }}" alt="">
        </a>
        <!-- Link -->
        <a class="hover:text-gray-300 flex items-center justify-end text-sm font-bold uppercase sm:text-lg"
          rel="noopener noreferrer" target="_blank" href="{{ url-href }}">
          <svg class="w-12 h-12 mr-4">
            <use xlink:href="/static/sprite.svg#{{ url-platform }}"></use>
          </svg>
          {{ url-title }}
        </a>
      </div>
      <!-- ONLY DESKTOP: Right -->
      <a class="flex-none hidden sm:block" rel="noopener noreferrer" target="_blank" href="{{ url-href }}">
        <img loading="lazy" class="h-full" src="{{ image }}" alt="">
      </a>
    </div>
  </div>
</div>
