<!-- Black Triangle -->
<footer class="py-10 mt-10 bg-black">
  <!-- Bar -->
  <div class="flex items-center justify-between max-w-screen-lg px-2 mx-auto">
    <a href="/">
      <img loading="lazy" class="h-12" src="/static/images/logo.png" alt="">
    </a>
    <div class="flex items-center justify-center gap-3">
      <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="{{ settings.youtube }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprite.svg#youtube"></use>
        </svg>
      </a>
      <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="{{ settings.instagram }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprite.svg#instagram"></use>
        </svg>
      </a>
      <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="{{ settings.facebook }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprite.svg#facebook"></use>
        </svg>
      </a>
      <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="{{ settings.spotify }}">
        <svg class="w-6 h-6">
          <use xlink:href="/static/sprite.svg#spotify"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
