{% comment %}
<!-- Radio en Vivo -->
<section id="musica" class="x y">
  <div class="flex flex-col items-center gap-16 sm:gap-24">
    <!-- Logo -->
    <img class="w-3/4 sm:hidden" src="/static/images/radio-vampira.png" alt="" loading="lazy">
    <img class="hidden sm:block" src="/static/images/radio-vampira.svg" alt="" loading="lazy">
    <!-- Title -->
    <img class="w-3/4 sm:w-1/2" src="/static/images/radio-en-vivo.svg" alt="" loading="lazy">
  </div>
</section>
{% endcomment %}
<section id="musica">
  <!-- TODO: Refactor esta mugre de h-<harcodeado> -->
  <!-- http://css3.bradshawenterprises.com/cfimg/ -->
  <div id="cf" class="y relative h-[300px] sm:h-[485px] max-w-screen-lg mx-auto">
    <img class="bottom" src="/static/images/carousel/ochoaslab.png" />
    <img class="top" src="/static/images/carousel/radioenvivo.png" />
  </div>
</section>

<!-- Bajate la App -->
<section class=""
  style="background: linear-gradient(to bottom, transparent 0%, transparent 30%, #0E4056 30%, #0E4056 70%, transparent 70%);">
  <div class="flex flex-col items-center justify-center x sm:flex-row">
    <!-- Titulo -->
    <div class="w-4/5 sm:w-full sm:order-2">
      <img class="w-full" loading="lazy" src="/static/images/bajate-la-app.svg" alt="">
    </div>
    <!-- Imagen -->
    <img loading="lazy" class="w-52 sm:order-1" src="/static/images/app.png" alt="">
    <!-- Boton -->
    <div class="flex w-full gap-4 sm:order-3">
      <a class="flex items-center justify-center w-2/3 " rel="noopener noreferrer" target="_blank"
        href="{{ settings.app-store }}">
        <img loading="lazy" class="w-48 duration-300 transform motion-safe:hover:scale-110"
          src="/static/images/buttons/app-store.png" alt="">
      </a>
      <a class="flex items-center justify-center w-2/3 sm:order-3" rel="noopener noreferrer" target="_blank"
        href="{{ settings.google-play }}">
        <img loading="lazy" class="w-48 duration-300 transform motion-safe:hover:scale-110"
          src="/static/images/buttons/google-play.png" alt="">
      </a>
    </div>
  </div>
</section>

<!-- Programacion -->
<section class="flex flex-col x y">
  <h2 class="text-gray-700 h2">Programación Indecisa</h2>
  <div class="flex flex-wrap justify-center gap-1 sm:gap-4">
    {% for programa in programacion.programacion %}
    {% if programa.invisible != true %}
    <a class="w-52" href="/programas/{{ programa.titulo | slug }}/">
      <img loading="lazy" class="duration-300 transform motion-safe:hover:scale-110" src="{{ programa.imagen }}"
        alt="{{ programa.titulo }}">
    </a>
    {% endif %}
    {% endfor %}
  </div>
</section>

<!-- Separador -->
<div class="px-20 m-auto border-t-2" style="max-width: calc(1024px - 5rem * 2); border-color: #1DB954;"></div>

<!-- Streaming -->
<section class="flex flex-col items-stretch justify-center y">
  <!-- Wrapper -->
  <div class="flex flex-col x">
    <!-- Desktop -->
    <div class="flex items-stretch justify-around gap-8 sm:gap-16">
      <!-- Widget Playlist -->
      <!-- Visible only on Desktop -->
      <div class="items-center justify-center hidden sm:flex">
        <iframe src="https://open.spotify.com/embed/playlist/1iSMIpcONhHVZN0DTmS2kV" width="300" height="315"
          frameborder="0" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe>
      </div>
      <!-- Descripcion -->
      <div class="flex flex-col justify-around">
        <div class="flex flex-col">
          <!-- Title -->
          <h2 class="text-gray-700 h2">Streaming Indeciso</h2>
          <!-- Paragraph -->
          <p class="px-8 text-lg">¿Sólo escuchas cosas en Spotify? También estamos ahí con la selección de música
            vampira. Podés encontrarlas en nuestra cuenta y las actualizamos constantemente.</p>
        </div>
        <!-- Nuestras Playlists -->
        <div class="flex items-center justify-center mx-8">
          <img class="w-full" loading="lazy" src="/static/images/nuestras-playlists.svg" alt="">
        </div>
      </div>
    </div>
    <!-- Grid -->
    <div class="flex flex-wrap justify-center gap-2 sm:gap-4">
      {% for p in playlists.playlists %}
      <a class="w-[8.5rem]" href="{{ p.url }}" rel="noopener noreferrer" target="_blank">
        <img loading="lazy" class="duration-300 transform motion-safe:hover:scale-110" src="{{ p.imagen }}"
          alt="{{ p.titulo }}">
      </a>
      {% endfor %}
    </div>
  </div>
  <!-- Button -->
  <div class="w-full">
    <a class="block pr-5 sm:pr-20" rel="noopener noreferrer" target="_blank" href="{{ settings.spotify }}">
      <div class="h-12 bg-right bg-no-repeat bg-cover sm:h-16"
        style="background-image: url('/static/images/buttons/spotify.png');">
      </div>
    </a>
  </div>
</section>
