<!DOCTYPE html>
<html lang="es-AR">

  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" name="viewport"/>

    <link href="/main.css" rel="stylesheet"/>
    <link href="/flickity.min.css" rel="stylesheet">

    {% include '_seo.html' %}
    <meta name="x-base-url" content="{{ site.url }}"/>
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>

  <body class="flex flex-col justify-between" style="background-image: linear-gradient(#000000, #00355A);">
    {% include '_header.html' %}
    <main class="mb-auto">
      {{ content }}
    </main>
    {% include '_footer.html' %}
    {% if path == "home" %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>
    {% endif %}
    <script defer src="/alpine.js"></script>
    <script defer src="/flickity.pkgd.min.js"></script>
    <script defer src="/router.js"></script>
  </body>

</html>
