---
title: Indeciso Vampiro
path: home
layout: default
---
{% include 'home/1-musica.html' %}
{% include 'home/2-audiovisual.html' %}
{% include 'home/3-editorial.html' %}
<div class="max-w-screen-lg mx-auto">
  <a rel="noopener noreferrer" target="_blank" href="{{ settings.flashcookie }}">
    <img loading="lazy" class="hidden w-full md:block" src="/static/images/buttons/flashcookie.png" alt="Tienda Flash Cookie">
    <img loading="lazy" class="block w-full md:hidden" src="/static/images/buttons/flashcookie-mobile.png" alt="Tienda Flash Cookie">
  </a>
</div>
{% include 'home/4-encuentros.html' %}
