---
layout: default
---

<section class="x y">
  <div class="max-w-2xl mx-auto">
    {% for post in collections.post %}
    <article class="my-8 bg-[#242526] rounded-3xl">
      <!-- Header -->
      <div class="p-4 rounded-3xl">
        <h2 class="mb-2 text-3xl font-bold">
          <!--<a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}Untitled{% endif %}</a>-->
          {% if post.data.title %}{{ post.data.title }}{% else %}Untitled{% endif %}
        </h2>
        <p class="mb-3 text-base leading-6 text-gray-500">
          <time>{{ post.date | readableDate }}</time>
        </p>
        <div class="mb-3 text-lg">{{ post.templateContent }}</div>
      </div>
      <!--<p><a href="{{ post.url | url }}" class="text-lg font-bold text-indigo-500"> Read more → </a></p>-->
      <img class="w-full" src="{{ post.data.image }}" alt="" loading="lazy">
    </article>
    {% endfor %}
  </div>
</section>
