---
layout: default
---

<section class="x y">
  <div class="mx-auto max-w-2xl">
    {% for post in collections.post reversed %}
    <article class="my-8 flex flex-col rounded-3xl bg-[#242526]">
      <!-- Header -->
      <div class="rounded-3xl p-4">
        <h2 class="mb-2 text-3xl font-bold">
          <!--<a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}Untitled{% endif %}</a>-->
          {% if post.data.title %}{{ post.data.title }}{% else %}Untitled{% endif %}
        </h2>
        <p class="mb-3 text-base leading-6 text-gray-500">
          <time>{{ post.date | readableDate }}</time>
        </p>
        <div class="mb-3 text-lg">{{ post.templateContent }}</div>
      </div>
      <!-- Image -->
      <div class="flex w-full items-center justify-center bg-black align-middle">
        <img class="max-h-[28rem]" src="{{ post.data.image }}" alt="" loading="lazy" />
      </div>
    </article>
    {% endfor %}
  </div>
</section>
