<!-- Audiovisuales -->
<section id="audiovisual" class="y flex flex-col items-center justify-center">
  <!-- Wrapper -->
  <div class="x flex flex-col">
    <!-- Titulo -->
    <div class="flex flex-col self-stretch">
      <!-- Separador -->
      <div class="flex flex-col items-end self-end w-3/4 border-t-2" style="border-color: #0C4967;">
        <h2 class="text-base font-bold sm:text-lg">
          sesiones
          <span class="text-gray-600">,</span>
          festivales
          <span class="text-gray-600">y</span>
          clips
          <span class="text-gray-600">de</span>
          video?
        </h2>
      </div>
      <!-- Titulo -->
      <h1 class="self-start text-4xl font-bold uppercase sm:text-8xl" style="color: #EDEDED">Audiovisual</h1>
    </div>
    {%
      include _card.html
      logo:'/static/images/logo-sesiones-indecisas.png'
      background:'/static/images/bg-sesiones-indecisas.png'
      title:'Sesiones Indecisas'
      description:'Si querés endulzar tus oídos de la mano de un ferviente set buscá Sesiones Indecisas en Youtube. Un espacio en donde estamos dejando registros de ciclos musicales que filmamos y producimos fervientemente.'
      image:'/static/images/video.png'
      url-platform:'youtube'
      url-title:'X-NIDAA - SESIONES INDECISAS'
      url-href:'https://youtu.be/b4eBSc3pBJA'
    %}
    {%
      include _card.html
      logo:'/static/images/logo-invasion-indecisa.png'
      background:'/static/images/bg-invasion-indecisa.png'
      title:'Invasión Indecisa'
      description:'Durante el aislamiento social obligatorio presentamos los primeros encuentros de Invasión Indecisa. Un festival online que junta a varios músicos de la escena nacional en un mismo lugar. Cada uno interpretando sus canciones en un contexto hogareño con la posibilidad de verlo en vivo de manera virtual. Suprimiendo las barreras geográficas que surgen a la hora de escuchar en directo a nuestros músicos favoritos. El acceso al festival es gratuito, con la posibilidad de realizar donaciones indecisas a los músicos.'
      image:'/static/images/invasion-indecisa-flyer.png'
      url-platform:'youtube'
      url-title:'Invasión Indecisa #FestivalADistancia'
      url-href:'https://youtu.be/9ea9nbti7JM'
    %}
  </div>
  <!-- Boton -->
  <div class="w-full">
    <h1 class="px-5 text-base uppercase sm:pl-20 sm:text-2xl">Escucha y mira todo en nuestro canal de Youtube</h1>
    <a class="block pr-5 sm:pr-20" rel="noopener noreferrer" target="_blank" href="{{ settings.youtube }}">
      <div class="h-12 bg-right bg-no-repeat bg-cover sm:h-16"
        style="background-image: url('/static/images/btn-youtube.png');"></div>
    </a>
  </div>
</section>
